body {
    background-color: rgb(230, 250, 255); /* Uso un azzurro molto chiaro, quasi bianco */
}

h1 {
    color: blue;
    font-size: 3rem; 
}

h2 {
    color: orange; /
}

h5 {
    padding: 5px;
}

.container {
    background: white; 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Aggiungo un'ombra leggera al contenitore */
}

#paginaHome {
    display: none; /* Inizialmente nascondo la Home, devo prima fare il login */
}